<!DOCTYPE html>
<html lang="en">
 <!--lang="en" คือการหำหนดภาษาหลักให้กับเว็บไซต์-->
<head>
  <meta charset="UTF-8"> <!--UTF ทำให้อ่านภาษาไทยออก-->
  <title>CMM 19</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
  <!--โหลด css มาใช้กับ html bulma ช่วย front-->
  <link rel="stylesheet" href="/assets/home.css">
</head>
 <body>
 	<header>
 		<div class="has-text-centered"> <!--เอาdivมาคลุม ไม่รู้จะใช้ไร ใช้ div แถวใครแถวมัน-->
 		  <img src="/assets/images/logo.png" alt="" width="145" height="auto"> <!-- in line เอารูปมาว่างต่อกันก็ต่อต่อเป็นแถวๆไปเลย-->
 		</div>
 		<nav class="navbar-tabs">
 			<a href="#" class="navbar-item">WORK</a> <!-- a ทำใ้กดเข้าลิงค์ได้ -->
 			<a href="#" class="navbar-item">INTERVIEW</a>
 			<a href="#" class="navbar-item">LIVING</a>
 			<a href="#" class="navbar-item">SOCIAL</a>
 			<a href="#" class="navbar-item">TRAVEL</a>
 			<a href="#" class="navbar-item">VIDEO</a>
 			<a href="#" class="navbar-item">ACTIVITIES</a>
 			<a href="#" class="navbar-item">MAGAZINE</a>	
 		</nav>
 	</header>
    <main>
 		<section class="banner">
 			<div class="highlight">
 			   <div class="columns">
 			  		<div class="column highlight-item">
 			  			<h1>I'm Fai</h1>
 			  	    </div>
 			   </div>
 			</div>

 			<div class="thumbnail">
 				<div class="columns is-marginless">

 			  	  <div class="column thumbnail-item is-paddingless"
 			  	  style="background-image: url(/assets/images/home/banner/thumbnail-1.jpg);">
 			  	  Anusara Juntui
 				  </div>
 				  
 			  	  <div class="column thumbnail-item is-paddingless"
 			  	  style="background-image: url(/assets/images/home/banner/thumbnail-2.jpg);">
 			  	  Anusara Juntui <!-- paddingless ทำให้รูปชิดกัน -->
 				  </div>
 				  
 			  	  <div class="column thumbnail-item is-paddingless"
 			  	  style="background-image: url(/assets/images/home/banner/thumbnail-3.jpg);">
 			  	  Anusara Juntui
 				  </div>
 				 
 			  	  <div class="column thumbnail-item is-paddingless"
 			  	  style="background-image: url(/assets/images/home/banner/thumbnail-4.jpg);">
 			  	  Anusara Juntui
 				  </div>
 				  
 				</div>
 			</div>
 		</section>

 		<section class="section we-present">
 			<div class="container">
 				<div class="columns">
 					<div class="column has-text-left">
 						<a href="#">LASTET</a>
 					</div>
 					<div class="column has-text-centered">
 						WE PRESENT
 					</div>
 					<div class="column has-text-right">
 						<a href="#">SEARCH</a>
 					</div>
 				</div>
 				
 				<div class="columns is-multiline"> <!--สามารถตบข้อความลงมาได้ แบบขึ้นบรรทัดใหม่-->
 					<a href="#" class="column is-one-third"> <!--is one third หมายถึง 1ใน3 มีค่าเท่ากับ 4 คอลัม เขียนเหมือน is-4 ได้-->
 						<div class="card">
 							<div class="card-image">
 								<figure class="images is-3by2">
 									<img src="assets/images/home/we-preset/img-1.jpg" alt="image-1">
 								</figure>
 							</div>
 							<div class="card-content">
 								<h5 class="category">Public Space</h5>
 								<h3 class="title is-spaced is-4">
 									เสื้อดำราคาน่าคบ !!!
 								</h3>
 								<h4 class="subtitle is-6">
 									โปรลดราคา
 								</h4>
 								<p>
 									ครบอกว่าเสื้อดำหายาก...Camel active เริ่มต้นที่ 199.- เท่านั้น มีทั้งเสื้อยืดเสื้อเชิ้ต โปโล กางเกงขาสั้นและขายาวสีดำ ใครที่กำลังมองหาเสื้อผ้าโทนสีดำอยู่ อย่าลืมไปซื้อกันนะคะ
 								</p>
 							</div>
 						</div>
 					</a>
 					<a href="#" class="column is-one-third"> <!--is one third หมายถึง 1ใน3 มีค่าเท่ากับ 4 คอลัม เขียนเหมือน is-4 ได้-->
 						<div class="card">
 							<div class="card-image">
 								<figure class="images is-3by2">
 									<img src="assets/images/home/we-preset/img-2.jpg" alt="image-1">
 								</figure>
 							</div>
 							<div class="card-content">
 								<h5 class="category">Public Space</h5>
 								<h3 class="title is-spaced is-4">
 									เสื้อดำราคาน่าคบ !!!
 								</h3>
 								<h4 class="subtitle is-6">
 									โปรลดราคา
 								</h4>
 								<p>
 									ครบอกว่าเสื้อดำหายาก...Camel active เริ่มต้นที่ 199.- เท่านั้น มีทั้งเสื้อยืดเสื้อเชิ้ต โปโล กางเกงขาสั้นและขายาวสีดำ ใครที่กำลังมองหาเสื้อผ้าโทนสีดำอยู่ อย่าลืมไปซื้อกันนะคะ
 								</p>
 							</div>
 						</div>
 					</a>
 					<a href="#" class="column is-one-third"> <!--is one third หมายถึง 1ใน3 มีค่าเท่ากับ 4 คอลัม เขียนเหมือน is-4 ได้-->
 						<div class="card">
 							<div class="card-image">
 								<figure class="images is-3by2">
 									<img src="assets/images/home/we-preset/img-3.jpg" alt="image-1">
 								</figure>
 							</div>
 							<div class="card-content">
 								<h5 class="category">Public Space</h5>
 								<h3 class="title is-spaced is-4">
 									เสื้อดำราคาน่าคบ !!!
 								</h3>
 								<h4 class="subtitle is-6">
 									โปรลดราคา
 								</h4>
 								<p>
 									ครบอกว่าเสื้อดำหายาก...Camel active เริ่มต้นที่ 199.- เท่านั้น มีทั้งเสื้อยืดเสื้อเชิ้ต โปโล กางเกงขาสั้นและขายาวสีดำ ใครที่กำลังมองหาเสื้อผ้าโทนสีดำอยู่ อย่าลืมไปซื้อกันนะคะ
 								</p>
 							</div>
 						</div>
 					</a>
 					<a href="#" class="column is-one-third"> <!--is one third หมายถึง 1ใน3 มีค่าเท่ากับ 4 คอลัม เขียนเหมือน is-4 ได้-->
 						<div class="card">
 							<div class="card-image">
 								<figure class="images is-3by2">
 									<img src="assets/images/home/we-preset/img-4.jpg" alt="image-1">
 								</figure>
 							</div>
 							<div class="card-content">
 								<h5 class="category">Public Space</h5>
 								<h3 class="title is-spaced is-4">
 									เสื้อดำราคาน่าคบ !!!
 								</h3>
 								<h4 class="subtitle is-6">
 									โปรลดราคา
 								</h4>
 								<p>
 									ครบอกว่าเสื้อดำหายาก...Camel active เริ่มต้นที่ 199.- เท่านั้น มีทั้งเสื้อยืดเสื้อเชิ้ต โปโล กางเกงขาสั้นและขายาวสีดำ ใครที่กำลังมองหาเสื้อผ้าโทนสีดำอยู่ อย่าลืมไปซื้อกันนะคะ
 								</p>
 							</div>
 						</div>
 					</a>
 					<a href="#" class="column is-one-third"> <!--is one third หมายถึง 1ใน3 มีค่าเท่ากับ 4 คอลัม เขียนเหมือน is-4 ได้-->
 						<div class="card">
 							<div class="card-image">
 								<figure class="images is-3by2">
 									<img src="assets/images/home/we-preset/img-5.jpg" alt="image-1">
 								</figure>
 							</div>
 							<div class="card-content">
 								<h5 class="category">Public Space</h5>
 								<h3 class="title is-spaced is-4">
 									เสื้อดำราคาน่าคบ !!!
 								</h3>
 								<h4 class="subtitle is-6">
 									โปรลดราคา
 								</h4>
 								<p>
 									ครบอกว่าเสื้อดำหายาก...Camel active เริ่มต้นที่ 199.- เท่านั้น มีทั้งเสื้อยืดเสื้อเชิ้ต โปโล กางเกงขาสั้นและขายาวสีดำ ใครที่กำลังมองหาเสื้อผ้าโทนสีดำอยู่ อย่าลืมไปซื้อกันนะคะ
 								</p>
 							</div>
 						</div>
 					</a>
 					<a href="#" class="column is-one-third"> <!--is one third หมายถึง 1ใน3 มีค่าเท่ากับ 4 คอลัม เขียนเหมือน is-4 ได้-->
 						<div class="card">
 							<div class="card-image">
 								<figure class="images is-3by2">
 									<img src="assets/images/home/we-preset/img-6.jpg" alt="image-1">
 								</figure>
 							</div>
 							<div class="card-content">
 								<h5 class="category">Public Space</h5>
 								<h3 class="title is-spaced is-4">
 									เสื้อดำราคาน่าคบ !!!
 								</h3>
 								<h4 class="subtitle is-6">
 									โปรลดราคา
 								</h4>
 								<p>
 									ครบอกว่าเสื้อดำหายาก...Camel active เริ่มต้นที่ 199.- เท่านั้น มีทั้งเสื้อยืดเสื้อเชิ้ต โปโล กางเกงขาสั้นและขายาวสีดำ ใครที่กำลังมองหาเสื้อผ้าโทนสีดำอยู่ อย่าลืมไปซื้อกันนะคะ
 								</p>
 							</div>
 						</div>
 					</a>
 				</div>
 			</div>
 		</section>
    </main>

 </body>
</html>
